.toolbar {
  border-bottom: 1px solid #bebebe;
  padding: 12px;
  display: flex;
}

.directionBtnContainer {
  margin-right: 20px;
}

.directionBtn {
  width: 14px;
  height: 14px;

  &.directionBtnLeft {
    transform: rotate(180deg);
    margin-right: 20px;
  }

  &.disabled {
    opacity: 0.2;
  }
}
